html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#website-header {
  margin-bottom: 20px;
}

#page-title {
  font-weight: 700;
  font-size: 40px;
}

.container {
  max-width: 100vw;
  padding: 20px;
}

.wrap {
  max-width: 1200px;
  min-width: 400px;
  margin: 0 auto;
}

.food-grid {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.header-container {
  color: black;
}

h2.text {
  font-size: 35px;
  text-align: center;
  width: min-content;
  padding-bottom: 10px;
}

.card {
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1);
  border: 0.25px solid rgba(0, 0, 0, 0.42);
  max-width: 100%;
}

.images {
  max-width: 100%;
  height: auto;
  display: block;
}

.recipe-metadata {
  text-align: center;
  color: black;
  font-size: 20px;
  padding: 20px 10px;
  min-height: 75px;
  line-height: 32px;
}

h3 {
  vertical-align: middle;
}
